@import "tailwindcss";

body {
  overflow-x: hidden;
}

.mainbg {
  background-image: url("./assets/webp/HeroSection.webp");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.footerbg {
  background: url("./assets/webp/footer.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.testimonialbg {
  background: url("./assets/webp/testimonialcurve.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* @media screen and (max-width: 768px) {
  .mainbg {
    background-size: cover;
  }
} */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbary-button {
  background: #000;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  height: 10px;
  background: #ffc004;
}
#02ccfe,
#0fa958 ::-webkit-scrollbar-track {
  background: #aaa;
}
