@import "tailwindcss";

body {
  overflow-x: hidden;
}

.mainbg {
  background-image: url("./assets/HeroSection.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media screen and (max-width: 768px) {
  .mainbg {
    background-size: cover;
  }
} */
